#search-bar {
	background-color: green;
}
#line-graph {
	background-color: red;
}
#profit {
	background-color: blue;
}
#time-stamps{
	background-color: purple;
}
#search{
	padding-left: 10px;
	width: inherit;
}
#trades{
	overflow-y: auto;
	max-height: 100px;
}
#footer{
	background-color: yellow;
}
#date-range{
	background-color: orange;
	list-style: none;
}
#date-range ul{
	display: inline-block;
	padding: 0;
	border: 1px solid;
}
#date-range li{
	display: inline-block;
	float: left;
	padding: 5px;
	border: 1px solid;
}
#date-range li:hover{
	background-color: blue;
	cursor: pointer;
}
.highlighted{
	background-color: red !important;
}
.results{
	padding: 0;
	list-style: none;
	border: 1px solid black;
}

.results li{ 
	background: LightSlateGray; 
	padding-left: 10px;
}
.results li:nth-child(odd){ 
	background: LightSteelBlue; 
}