<!DOCTYPE html>
<html ng-app="profitCalculator">
	<head>
		<title>Profit Calculator</title>

	    <!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    	<link rel="stylesheet" href="css/main.css">

    	<!-- scripts-->
    	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
		<script src="https://cdn.zingchart.com/zingchart.min.js"></script>
    	<script src="https://cdn.zingchart.com/angular/zingchart-angularjs.js"></script>
    	<script type="text/javascript" src="js/API-Factory.js"></script>
    	<script type="text/javascript" src="js/CalculateProfit-Factory.js"></script>
    	<script type="text/javascript" src="js/app.js"></script>

	</head>
	<body ng-controller="profitController">
		<div class="container">

			<!-- Search Bar -->
			<div class="row">
				<div class="col-md-12">
					<div id="search">
						<input type="text" id="searchBar" ng-model="symbol" placeholder="Search Stock Symbol" ng-keydown="arrowKeyControls($event)" ng-keyup="searchControls($event)">
					</div>
				</div>
			</div>
			<!-- Search Results -->
			<div class="row">
				<div class="col-md-12">
					<div>
						<ul id="results">
							<li ng-repeat="result in results" ng-class="result.class">
								<span ng-bind="result.symbol"></span> | <span ng-bind="result.name"></span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- Search Date Range -->
			<div class="row bottom-buffer">
				<div class="col-md-12">
					<div id="date">
						<ul id="date-range">
							<li ng-repeat="range in dateRanges" ng-click="setRange(range)" ng-class="range.class">
								<span ng-bind="range.span"></span>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<!-- Chart & Calculations -->
			<div class="row no-gutters bottom-buffer">
				<!-- Chart -->
				<div class="col-md-8 right-buffer">
					<div id="line-graph">
						<p>Graph:</p>
						<div zingchart id="chart-1" zc-json="chartJson" zc-width="100%" zc-height="568px"></div>
					</div>
				</div>
				<!-- Calculations -->
				<div class="col-md-4">
					<div id="profit">
						<p>Symbol: <span ng-bind="stockSymbol"></span></p>
						<p>Initial Investment: $<span ng-bind="initialInvestment"></span></p>
						<p>Gross Return: $<span ng-bind="grossReturn"></span></p>
						<p>Profit: $<span ng-bind="profit"></span></p>
					</div>
				</div>
			</div>
			<!-- Trades & Footer -->
			<div class="row">
				<div class="col-md-12">
					<div id="time-stamps">
						<p>Time stamps of trades made:</p>
						<div id="trades">
							<p ng-repeat="trade in trades track by $index" ng-bind="trade.tradeMessage"></p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12" id="footer">
					<a href="https://iexcloud.io">Data provided by IEX Cloud</a>
				</div>
			</div>
	</body>
</html>