<!DOCTYPE html>
<html ng-app="profitCalculator">
	<head>
		<title>Profit Calculator</title>

	    <!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    	<link rel="stylesheet" href="css/main.css">

    	<!-- scripts-->
    	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
		<script src="https://cdn.zingchart.com/zingchart.min.js"></script>
    	<script src="https://cdn.zingchart.com/angular/zingchart-angularjs.js"></script>
    	<script type="text/javascript" src="js/API-Factory.js"></script>
    	<script type="text/javascript" src="js/CalculateProfit-Factory.js"></script>
    	<script type="text/javascript" src="js/app.js"></script>

	</head>
	<body ng-controller="profitController">
		<div class="container">
			<div class="row">
				<div class="col-md-12" id="search-bar">
					<input type="text" id="search" ng-model="symbol" placeholder="Search Stock Symbol" ng-keydown="arrowKeyControls($event)" ng-keyup="searchControls($event)">
					<ul class="results">
						<li ng-repeat="result in results" ng-class="result.class">
							<span ng-bind="result.symbol"></span> | <span ng-bind="result.name"></span>
						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12" id="date-range">
					<ul>
						<li ng-repeat="range in dateRanges" ng-click="setRange(range)" ng-style="">
							<span ng-bind="range"></span>
						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8" id="line-graph">
					<p>graph</p>
					<div zingchart id="chart-1" zc-json="chartJson" zc-width="100%" zc-height="568px"></div>
				</div>
				<div class="col-md-4" id="profit">
					<p>Symbol: <span ng-bind="stockSymbol"></span></p>
					<p>Initial Investment: $<span ng-bind="initialInvestment"></span></p>
					<p>Gross Return: $<span ng-bind="grossReturn"></span></p>
					<p>Profit: $<span ng-bind="profit"></span></p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12" id="time-stamps">
					<p>time stamps of trades made</p>
					<div id="trades">
						<p ng-repeat="trade in trades track by $index" ng-bind="trade.tradeMessage"></p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12" id="footer">
					<p>placeholder text</p>
					<a href="https://iexcloud.io">Data provided by IEX Cloud</a>
				</div>
			</div>
		</div>
	</body>
</html>